body{
    background-color: #f7f8fa;
    background-image: url("../img/bg-azienda.jpg");
    background-repeat: repeat-y;
    background-attachment: fixed;
    background-position: center center;
}

/*Заголовок*/
.FixHead{
    position: fixed;
    left: 1%;
    top:1%;
    width: 98%;
    height: 5vw;
    z-index: 100;
    display: flex;
    background: linear-gradient( to right, #fff 10%, #a2bfd6 25%, #fff 50%);
    box-shadow: 0 0 0 #fff inset, 0 .2em .4em #737373;
}

.ImgLogo{
    padding: 5px 4vw;
}

/*Главное меню*/
.MainMenu{
    padding-left: 10px;
    flex: 1;
    display: flex;
}

.MenuItem{
    width: 14%;
    height: 3.4vw;
    margin-right: 10px;
    margin-top: 0.3vw;
    font-size: 1.8vw;
    font-weight: bold;
    border: solid;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #94a1aa;
    border-radius: 5px;
    box-shadow: 0 .3em .4em #fff inset, 0 .3em .2em #737373;
    color: #0000ff;
    text-decoration: none;
}


.MenuItem:hover{
    color: black;    
}

/*Контент*/
.Rentgen{
    position: relative;
    top: 8vw;
}

.Content{
    width: 97%;
    margin: auto;
    padding-bottom: 4vw;
}

.ContentHead{
    background: #548cb3;
    height: 4vw;
    text-align: center;
    line-height: 4vw;
    font-size: 2.5vw;
    margin-bottom: 0.8vw;
    color: white;
    box-shadow: 0 0 0 #fff inset, 0 .1em .2em #000;
}

.ContentInfo{
    display: flex;
    width: 100%;
    flex-flow: row nowrap; 
    flex: 1;
    font-size: 1.3vw;
}

.HalfContent{
    width: 48%;
    padding: 0 1%;
}

.addInfo{
    text-align: center;
    font-weight: bold;
    font-size: 1.3vw;
}
.workTimeInfo{
    text-align:  right;
    font-size: 1.3vw;
}

.adressInfo{
    text-align:  right;
    color: #0000ff;
    font-size: 1.3vw;
}