body{
    background-color: #f7f8fa;
    background-image: url("../img/bg-azienda.jpg");
    background-repeat: repeat-y;
    background-attachment: fixed;
    background-position: center center;
}

/*Заголовок*/
.FixHead{
    position: fixed;
    left: 1%;
    top:1%;
    width: 98%;
    height: 5vw;
    z-index: 100;
    display: flex;
    background: linear-gradient( to right, #fff 10%, #a2bfd6 25%, #fff 50%);
    box-shadow: 0 0 0 #fff inset, 0 .2em .4em #737373;
}
.ImgLogo{
    padding: 5px 4vw;
}

/*Главное меню*/
.MainMenu{
    padding-left: 10px;
    flex: 1;
    display: flex;
}
.MenuItem{
    width: 14%;
    height: 3.4vw;
    margin-right: 10px;
    margin-top: 0.3vw;
    font-size: 1.8vw;
    font-weight: bold;
    border: solid;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #94a1aa;
    border-radius: 5px;
    box-shadow: 0 .3em .4em #fff inset, 0 .3em .2em #737373;
    color: #0000ff;
    text-decoration: none;
}
.MenuItem:hover{
    color: black;    
}

/*Контент*/
.Rentgen{
    position: relative;
    top: 8vw;
}

.Content{
    width: 97%;
    margin: auto;
    padding-bottom: 4vw;
}

.ContentHead{
    background: #548cb3;
    height: 4vw;
    text-align: center;
    line-height: 4vw;
    font-size: 2.5vw;
    margin-bottom: 0.8vw;
    color: white;
    box-shadow: 0 0 0 #fff inset, 0 .1em .2em #000;
}

.ContentInfo{
    display: flex;
    width: 100%;
    flex-flow: row nowrap; 
    flex: 1;
    font-size: 1.3vw;
}

.HalfContent{
    width: 48%;
    padding: 0 1%;
}

.addInfo{
    text-align: center;
    font-weight: bold;
    font-size: 1.3vw;
}
.workTimeInfo{
    text-align:  right;
    font-size: 1.3vw;
}

.adressInfo{
    text-align:  right;
    color: #0000ff;
    font-size: 1.3vw;
}

/*Виджет кнопка*/

.phoneVidget{
    position: fixed;
    top: 76%;
    left: 85%;
    width: 180px;
    height: 180px;
    border-radius: 50%;    
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
}

.firstCircle{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;    

    animation-name: emptyCircle;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
@keyframes emptyCircle {
    0%   {width: 80px; height: 80px; border: 1px solid rgb(84, 139, 179);}
    100% {width: 180px; height: 180px; border: 1px solid rgba(84, 139, 179, 0);}
}

.secondCircle{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    animation-name: fillCircle;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    background-color:rgba(84, 139, 179, 0.45);
}
@keyframes fillCircle {
    0%   {width: 80px; height: 80px;}
    50%  {width: 120px; height: 120px;}
    100% {width: 80px; height: 80px;}
}

.thirdCircle{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(84, 139, 179, 0.65);
    animation-name: rotatePhone;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
.thirdCircle:hover{
    background-color: rgb(84, 140, 179);
}
.thirdCircle a:active{
    background-color: rgb(84, 140, 179);
}
@keyframes rotatePhone {
    50%   {transform: rotate(-20deg);}
    100% {transform: rotate(0deg);}
}

#vidgetWindow{
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 110;
    background-color: rgba(43, 43, 43, 0.8);
    visibility: hidden;
}
.vidgetMessage{
    left: 30%;
    top: 20%;
    width: 40vw;
    height: 25vw;
    position: fixed;
    z-index: 120;
    background-color: white;
}

.closeVidget{
    width: .8vw;
    height: .8vw;
    float: right;
    padding-top: .2vw;
    padding-right: 1.8vw;
}
.closeVidget a:hover{
    border-radius: 50%;
    background-color: rgba(148, 161, 170, 0.5);
}
.closeVidget a{
    width: 2.3vw;
    height: 2.3vw;
    display: inline-block;
    font-size: 1.5vw;
    color: #737373;
    text-decoration: unset;
    text-align: center;
    transition: background-color .5s;
}
.vidgetP1{
    padding: 1vw;
    margin: 0;
    font-size: 2.5vw;
    font-weight: bold;
    text-align: center;
}
.vidgetP2{
    padding: 0;
    margin: 0;
    font-size: 1.3vw;
    font-weight: bold;
    text-align: center;
    color: rgb(69, 182, 182);
}
.vidgetP3{
    padding: 0;
    margin: 0;
    width: 50%;
    display: inline-block;
    font-size: 2.5vw;
    font-weight: bold;
    color: blue;
    text-align: center;
}
.vidgetPFloat{
    float: left;
}
.vidgetP4{
    padding: 0;
    margin: 0;
    font-size: 2.5vw;
    font-weight: bold;
    color: blue;
    text-align: center;
}